{% if page.categories and page.categories != empty %}
  <nav class="breadcrumbs">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <!-- <a href="{{ site.url }}" itemprop="url">
        <span itemprop="title">Home</span>
      </a> › --> 
    {% for category in page.categories %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ site.url }}/category/{{ category }}/" itemprop="url">
          <span itemprop="title">{{ category | replace: '-',' ' | capitalize }}</span>
        </a>
        {% if forloop.last == false %} | {% endif %}
    </span>
    {% endfor %}
  </nav><!-- /.breadcrumbs -->
{% endif %}
